{% load static %}
<footer class="bg-neutral-primary-soft shadow-xs mt-auto">
    <div class="w-full p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <!-- <div class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="{% static 'calorieApp/images/calorieTracker logo.png' %}" class="h-7" alt="Calorie Tracker Logo" />
                <span class="text-heading self-center text-2xl font-semibold whitespace-nowrap">Calorie Tracker</span>
            </div> -->
        </div>
        <hr class="my-6 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-body text-center">© 2023 Calorie Tracker™. All Rights Reserved.</span>
    </div>
</footer>